In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tradelog.csv',index_col=[0] )
df

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price
1,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00
2,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75
3,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00
4,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55
5,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15
...,...,...,...,...,...
245,BANKNIFTY31DEC2031300PE,29-12-2020 09:29,216.65,29-12-2020 13:10,274.60
246,BANKNIFTY31DEC2031200CE,30-12-2020 09:29,248.25,30-12-2020 10:24,283.90
247,BANKNIFTY31DEC2031200PE,30-12-2020 09:29,221.70,30-12-2020 10:24,240.10
248,BANKNIFTY31DEC2031300CE,31-12-2020 09:29,161.80,31-12-2020 10:37,173.85
249,BANKNIFTY31DEC2031300PE,31-12-2020 09:29,105.05,31-12-2020 10:37,124.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 1 to 249
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ticker       249 non-null    object
 1   Entry Time   249 non-null    object
 2   Entry Price  249 non-null    float64
 3   Exit Time    249 non-null    object
 4   Exit Price   249 non-null    float64
dtypes: float64(2), object(3)
memory usage: 11.7+ KB

In [4]:
df.isnull().sum()

Ticker         0
Entry Time     0
Entry Price    0
Exit Time      0
Exit Price     0
dtype: int64

In [5]:
df['Entry Time'] = pd.to_datetime(df['Entry Time'])
df['Exit Time'] = pd.to_datetime(df['Exit Time'])
df

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price
1,BANKNIFTY09JUL2022800PE,2020-08-07 09:29:00,163.50,2020-08-07 13:15:00,301.00
2,BANKNIFTY09JUL2022700CE,2020-09-07 09:29:00,162.50,2020-09-07 10:34:00,166.75
3,BANKNIFTY09JUL2022700PE,2020-09-07 09:29:00,110.55,2020-09-07 10:34:00,147.00
4,BANKNIFTY16JUL2022700CE,2020-10-07 09:29:00,295.10,2020-10-07 15:24:00,437.55
5,BANKNIFTY16JUL2022700PE,2020-10-07 09:29:00,555.20,2020-10-07 15:24:00,403.15
...,...,...,...,...,...
245,BANKNIFTY31DEC2031300PE,2020-12-29 09:29:00,216.65,2020-12-29 13:10:00,274.60
246,BANKNIFTY31DEC2031200CE,2020-12-30 09:29:00,248.25,2020-12-30 10:24:00,283.90
247,BANKNIFTY31DEC2031200PE,2020-12-30 09:29:00,221.70,2020-12-30 10:24:00,240.10
248,BANKNIFTY31DEC2031300CE,2020-12-31 09:29:00,161.80,2020-12-31 10:37:00,173.85
249,BANKNIFTY31DEC2031300PE,2020-12-31 09:29:00,105.05,2020-12-31 10:37:00,124.00

In [6]:
df = df.sort_values(by='Entry Time')
df = df.reset_index(drop=True)
df

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price
0,BANKNIFTY03SEP2024100CE,2020-01-09 09:29:00,288.50,2020-01-09 09:57:00,440.70
1,BANKNIFTY03SEP2024100PE,2020-01-09 09:29:00,703.80,2020-01-09 09:57:00,450.10
2,BANKNIFTY01OCT2021900CE,2020-01-10 09:29:00,110.35,2020-01-10 10:01:00,114.55
3,BANKNIFTY01OCT2021900PE,2020-01-10 09:29:00,87.05,2020-01-10 10:01:00,118.65
4,BANKNIFTY03DEC2029600PE,2020-01-12 09:29:00,284.10,2020-01-12 13:08:00,428.75
...,...,...,...,...,...
244,BANKNIFTY31DEC2031300PE,2020-12-29 09:29:00,216.65,2020-12-29 13:10:00,274.60
245,BANKNIFTY31DEC2031200CE,2020-12-30 09:29:00,248.25,2020-12-30 10:24:00,283.90
246,BANKNIFTY31DEC2031200PE,2020-12-30 09:29:00,221.70,2020-12-30 10:24:00,240.10
247,BANKNIFTY31DEC2031300CE,2020-12-31 09:29:00,161.80,2020-12-31 10:37:00,173.85
248,BANKNIFTY31DEC2031300PE,2020-12-31 09:29:00,105.05,2020-12-31 10:37:00,124.00

In [7]:
df['Return'] = df['Exit Price'] - df['Entry Price']
df

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Return
0,BANKNIFTY03SEP2024100CE,2020-01-09 09:29:00,288.50,2020-01-09 09:57:00,440.70,152.20
1,BANKNIFTY03SEP2024100PE,2020-01-09 09:29:00,703.80,2020-01-09 09:57:00,450.10,-253.70
2,BANKNIFTY01OCT2021900CE,2020-01-10 09:29:00,110.35,2020-01-10 10:01:00,114.55,4.20
3,BANKNIFTY01OCT2021900PE,2020-01-10 09:29:00,87.05,2020-01-10 10:01:00,118.65,31.60
4,BANKNIFTY03DEC2029600PE,2020-01-12 09:29:00,284.10,2020-01-12 13:08:00,428.75,144.65
...,...,...,...,...,...,...
244,BANKNIFTY31DEC2031300PE,2020-12-29 09:29:00,216.65,2020-12-29 13:10:00,274.60,57.95
245,BANKNIFTY31DEC2031200CE,2020-12-30 09:29:00,248.25,2020-12-30 10:24:00,283.90,35.65
246,BANKNIFTY31DEC2031200PE,2020-12-30 09:29:00,221.70,2020-12-30 10:24:00,240.10,18.40
247,BANKNIFTY31DEC2031300CE,2020-12-31 09:29:00,161.80,2020-12-31 10:37:00,173.85,12.05
248,BANKNIFTY31DEC2031300PE,2020-12-31 09:29:00,105.05,2020-12-31 10:37:00,124.00,18.95

In [8]:
list_of_price = list(df['Return'])

In [9]:
initial = 6500
new_list = []

for i in list_of_price:
    initial = initial + i
    new_list.append(initial)
    
df['prt_return'] = new_list
df

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Return,prt_return
0,BANKNIFTY03SEP2024100CE,2020-01-09 09:29:00,288.50,2020-01-09 09:57:00,440.70,152.20,6652.20
1,BANKNIFTY03SEP2024100PE,2020-01-09 09:29:00,703.80,2020-01-09 09:57:00,450.10,-253.70,6398.50
2,BANKNIFTY01OCT2021900CE,2020-01-10 09:29:00,110.35,2020-01-10 10:01:00,114.55,4.20,6402.70
3,BANKNIFTY01OCT2021900PE,2020-01-10 09:29:00,87.05,2020-01-10 10:01:00,118.65,31.60,6434.30
4,BANKNIFTY03DEC2029600PE,2020-01-12 09:29:00,284.10,2020-01-12 13:08:00,428.75,144.65,6578.95
...,...,...,...,...,...,...,...
244,BANKNIFTY31DEC2031300PE,2020-12-29 09:29:00,216.65,2020-12-29 13:10:00,274.60,57.95,7925.35
245,BANKNIFTY31DEC2031200CE,2020-12-30 09:29:00,248.25,2020-12-30 10:24:00,283.90,35.65,7961.00
246,BANKNIFTY31DEC2031200PE,2020-12-30 09:29:00,221.70,2020-12-30 10:24:00,240.10,18.40,7979.40
247,BANKNIFTY31DEC2031300CE,2020-12-31 09:29:00,161.80,2020-12-31 10:37:00,173.85,12.05,7991.45
248,BANKNIFTY31DEC2031300PE,2020-12-31 09:29:00,105.05,2020-12-31 10:37:00,124.00,18.95,8010.40

# 1. Total Trades

In [10]:
total_trades = df.shape[0]
print(total_trades)

249

# 2. Profitable Trades

In [11]:
df_profit = df[df['Return']>0]
df_profit

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Return,prt_return
0,BANKNIFTY03SEP2024100CE,2020-01-09 09:29:00,288.50,2020-01-09 09:57:00,440.70,152.20,6652.20
2,BANKNIFTY01OCT2021900CE,2020-01-10 09:29:00,110.35,2020-01-10 10:01:00,114.55,4.20,6402.70
3,BANKNIFTY01OCT2021900PE,2020-01-10 09:29:00,87.05,2020-01-10 10:01:00,118.65,31.60,6434.30
4,BANKNIFTY03DEC2029600PE,2020-01-12 09:29:00,284.10,2020-01-12 13:08:00,428.75,144.65,6578.95
6,BANKNIFTY03SEP2023700CE,2020-02-09 09:29:00,238.00,2020-02-09 10:46:00,311.00,73.00,6601.20
...,...,...,...,...,...,...,...
244,BANKNIFTY31DEC2031300PE,2020-12-29 09:29:00,216.65,2020-12-29 13:10:00,274.60,57.95,7925.35
245,BANKNIFTY31DEC2031200CE,2020-12-30 09:29:00,248.25,2020-12-30 10:24:00,283.90,35.65,7961.00
246,BANKNIFTY31DEC2031200PE,2020-12-30 09:29:00,221.70,2020-12-30 10:24:00,240.10,18.40,7979.40
247,BANKNIFTY31DEC2031300CE,2020-12-31 09:29:00,161.80,2020-12-31 10:37:00,173.85,12.05,7991.45
248,BANKNIFTY31DEC2031300PE,2020-12-31 09:29:00,105.05,2020-12-31 10:37:00,124.00,18.95,8010.40

In [12]:
profitable_trade = df_profit.shape[0]
print(profitable_trade)

153

# 3. Loss-Making Trades

In [13]:
df_loss = df[df['Return']<0]
df_loss

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Return,prt_return
1,BANKNIFTY03SEP2024100PE,2020-01-09 09:29:00,703.80,2020-01-09 09:57:00,450.10,-253.70,6398.50
5,BANKNIFTY03DEC2029600CE,2020-01-12 09:29:00,459.20,2020-01-12 13:08:00,408.45,-50.75,6528.20
7,BANKNIFTY03SEP2023700PE,2020-02-09 09:29:00,302.25,2020-02-09 10:46:00,290.25,-12.00,6589.20
9,BANKNIFTY05NOV2024200CE,2020-02-11 09:29:00,697.55,2020-02-11 11:19:00,442.65,-254.90,6492.85
12,BANKNIFTY06AUG2021400PE,2020-03-08 09:29:00,463.15,2020-03-08 15:24:00,380.35,-82.80,6474.20
...,...,...,...,...,...,...,...
234,BANKNIFTY24DEC2030300PE,2020-12-21 09:29:00,498.35,2020-12-21 13:37:00,309.05,-189.30,7702.95
237,BANKNIFTY24DEC2029600CE,2020-12-23 09:29:00,306.85,2020-12-23 14:13:00,218.15,-88.70,7697.10
240,BANKNIFTY24DEC2030200CE,2020-12-24 09:29:00,254.10,2020-12-24 10:15:00,139.45,-114.65,7801.80
241,BANKNIFTY31DEC2030800CE,2020-12-28 09:29:00,348.15,2020-12-28 13:43:00,328.80,-19.35,7782.45
243,BANKNIFTY31DEC2031300CE,2020-12-29 09:29:00,274.75,2020-12-29 13:10:00,272.15,-2.60,7867.40

In [14]:
loss_making_trade = df_loss.shape[0]
print(loss_making_trade)

96

# 4. Win rate

In [15]:
Win_rate = profitable_trade/total_trades 
print(Win_rate)

0.6144578313253012

# 5. Average Profit per trade

In [16]:
profits = df_profit['Return'].sum()
Average_profit = profits/profitable_trade
print(Average_profit)

76.09542483660131

# 6. Average Loss per trade

In [17]:
loss = df_loss['Return'].sum()
Average_loss = loss/loss_making_trade
print(Average_loss)

-105.54375

# 7. Risk Reward ratio

In [18]:
Risk_reward = Average_profit/Average_loss
print(Risk_reward)

-0.720984661210174

# 8. Expectancy

In [19]:
expectancy = (Win_rate * Average_profit) - ((1-Win_rate) * Average_loss)
print(expectancy)

87.44899598393575

# 9. Average ROR per trade

In [20]:
import statistics

volatality = statistics.stdev(df['Return'])

print(volatality)

113.06325065442704

In [21]:
Average_Return = df['Return'].sum() / total_trades
print(Average_Return)

6.06586345381526

In [22]:
risk_free_rate = 0.05 #given
ror = (Average_Return - risk_free_rate) /volatality
print(ror)

0.05320794704729027

# 10. Sharpe Ratio:

In [23]:
Return_total = df['Return'].sum()
print(Return_total)

1510.3999999999999

In [24]:
initial_return = 6500 #given
final_return = initial_return + Return_total
print(final_return)

8010.4

In [25]:
rate_of_return = ((final_return - initial_return)/initial_return)
print(rate_of_return)

0.23236923076923072

In [26]:
sharpe_ratio = (rate_of_return - risk_free_rate)/volatality
print(sharpe_ratio)

0.0016129841457206502

# 11. Max Drawdown:

In [27]:
max_drawdown = df['prt_return'].max() - df['prt_return'].min()
print(max_drawdown)

1618.4499999999962

# 12. Max Drawdown Percentage

In [28]:
peak = df['prt_return'].max()

max_drawdown_per = (max_drawdown / peak) * 100
print(max_drawdown_per)

20.187851988599117

# 13. CAGR

In [29]:
Total_days = (df['Exit Time'].max() - df['Exit Time'].min()).days
print(Total_days)

357

In [30]:
final_return = df.iloc[248,6] # last day return
print(final_return)

8010.399999999994

In [31]:
cagr = ((final_return / initial_return) ** (1/Total_days)) - 1
print(cagr)

0.0005854332614114721

# 14. Calmar Ratio

In [32]:
Compound_annual_return = ((final_return / initial_return) ** (1/1)) - 1 # year = 2020
print(Compound_annual_return)

0.23236923076922977

In [33]:
calmer_ratio = Compound_annual_return / max_drawdown
print(calmer_ratio)

0.0001435751680739166

In [34]:
dict_final = {
    'Total Trades' : total_trades,
    'Profitable Trades' : profitable_trade,
    'Loss-Making Trades' : loss_making_trade,
    'Win rate' : Win_rate,
    'Average Profit per trade' : Average_profit,
    'Average Loss per trade' : Average_loss,
    'Risk Reward ratio' : Risk_reward,
    'Expectancy' : expectancy,
    'Average ROR per trade' : ror,
    'Sharpe Ratio' : sharpe_ratio,
    'Max Drawdown' : max_drawdown,
    'Max Drawdown Percentage' : max_drawdown_per,
    'CAGR' : cagr,
    'Calmar Ratio' : calmer_ratio
}

df_final = pd.DataFrame(list(dict_final.keys()), columns=['parameter'])
df_final['values'] = dict_final.values()
df_final

                   parameter       values
0               Total Trades   249.000000
1          Profitable Trades   153.000000
2         Loss-Making Trades    96.000000
3                   Win rate     0.614458
4   Average Profit per trade    76.095425
5     Average Loss per trade  -105.543750
6          Risk Reward ratio    -0.720985
7                 Expectancy    87.448996
8      Average ROR per trade     0.053208
9               Sharpe Ratio     0.001613
10              Max Drawdown  1618.450000
11   Max Drawdown Percentage    20.187852
12                      CAGR     0.000585
13              Calmar Ratio     0.000144

In [35]:
df_final.to_csv('Hricha_task1.csv',index=False)